.carta-cuenta-cliente {
  background-color: aliceblue;
  cursor: pointer;
}

.carta-cuenta-dj {
  background-color: rgb(231, 230, 228);
  cursor: pointer;
}

.carta-cuenta-cliente:hover {
  background-color: rgb(205, 216, 226);
}

.carta-cuenta-dj:hover {
  background-color: rgb(205, 216, 226);
}
