.boton {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto-header {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.548);
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.boton {
  background: none;
  color: white;
  width: 210px;
  height: 70px;
  border: 1px solid #05b6ec;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
}

.boton:focus {
  outline: none;
}

.boton:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.boton:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.boton:hover {
  background: #05b6ec;
  cursor: pointer;
}

.boton:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6s;
  transition: 0.7s;
}

.boton:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.1s;
}

.imagen-carrusel {
  position: relative;
  bottom: 15%;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
