.boton {
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.boton {
    background: none;
    color: white;
    width: 210px;
    height: 70px;
    border: 1px solid #05b6ec;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

.boton:focus {
    outline: none;
}

.boton:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.boton:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.boton:hover {
    background: #05b6ec;
    cursor: pointer;
}

.boton:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6s;
    transition: .7s;
}

.boton:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: .1s;
}